#!/usr/bin/env bash

set -e
set -u
set -o pipefail

ALIAS_ZONE="{{ acme_zone }}."
CERTIFICATE_DIR="{{ pki_cert_dir }}"
DNS_SERVER="internal.{{ dns_master }}"
FILE_GROUP="{{ ssl_bot_group }}"
FILE_USER="{{ ssl_bot_user }}"
KEY_DIR="{{ pki_key_dir }}"
NSUPDATE="nsupdate -k /etc/dehydrated/tsig.key"
TTL=300

case "$1" in
    "deploy_challenge")
        printf "server ${DNS_SERVER}\nupdate add %s.${ALIAS_ZONE} %d in TXT "%s"\nsend\n" "${2}" "${TTL}" "${4}" | $NSUPDATE
        ;;
    "clean_challenge")
        printf "server ${DNS_SERVER}\nupdate delete %s.${ALIAS_ZONE} %d in TXT "%s"\nsend\n" "${2}" "${TTL}" "${4}" | $NSUPDATE
        ;;
    "deploy_cert")
        test -f "${KEY_DIR}/${2}.key.pem" || touch "${KEY_DIR}/${2}.key.pem" && chown ${FILE_USER}:${FILE_GROUP} "${KEY_DIR}/${2}.key.pem" && chmod 0640 "${KEY_DIR}/${2}.key.pem"
        cp "${3}" "${KEY_DIR}/${2}.key.pem"
        test -f "${CERTIFICATE_DIR}/${2}.pem" || touch "${CERTIFICATE_DIR}/${2}.pem" && chown ${FILE_USER}:${FILE_GROUP} "${CERTIFICATE_DIR}/${2}.pem" && chmod 0644 "${CERTIFICATE_DIR}/${2}.pem"
        cp "${4}" "${CERTIFICATE_DIR}/${2}.pem"
        test -f "${CERTIFICATE_DIR}/${2}.fullchain.pem" || touch "${CERTIFICATE_DIR}/${2}.fullchain.pem" && chown ${FILE_USER}:${FILE_GROUP} "${CERTIFICATE_DIR}/${2}.fullchain.pem" && chmod 0644 "${CERTIFICATE_DIR}/${2}.fullchain.pem"
        cp "${5}" "${CERTIFICATE_DIR}/${2}.fullchain.pem"
        ;;
    "unchanged_cert")
        # do nothing for now
        ;;
    "startup_hook")
        # do nothing for now
        ;;
    "exit_hook")
        # do nothing for now
        ;;
esac

exit 0