{% if is_ssl_bot_loop is defined %}
{{ lookup('community.general.passwordstore', 'dns/_acme-challenge.' + item + '_tsig returnall=yes') }}
{% elif is_workstation_loop is defined %}
{{ lookup('community.general.passwordstore', 'dns/_workstation.' + item + '_tsig returnall=yes') }}
{% else %}
{{ lookup('community.general.passwordstore', 'dns/' + item + '_tsig returnall=yes') }}
{% endif %}
