zone "{{ item }}" IN {
    type master;
    notify yes;
    notify-source {{ lookup('community.general.dig', 'internal.' + ansible_fqdn, 'qtype=A' ) }};
    notify-source-v6 {{ lookup('community.general.dig', ansible_fqdn, 'qtype=AAAA' ) }};
    allow-transfer { ! { ! { {% for dns_slave in dns_slaves %}{{ lookup('community.general.dig', 'internal.' + dns_slave, 'qtype=A') }}; {% endfor -%} }; any; }; { key "{{ dns_slaves | join('"; key "') }}"; }; };
    file "{{ item }}.zone";
    dnssec-policy default;
{% if item == acme_zone %}
    update-policy {
{% for acme_host, acme_host_vars in acme_hosts.items() %}
{% for domain in acme_host_vars['domains'] %}
        grant "{{ acme_tsig_prefix }}.{{ acme_host }}" name {{ domain }}.{{ acme_zone }} TXT;
{% endfor %}
{% endfor %}
    };
{% endif %}
};