zone "{{ item }}" IN {
    type master;
    notify yes;
    notify-source {{ dns_master['private_ipv4_address'] }};
    notify-source-v6 {{ dns_master['ipv6_address'] }};
    allow-transfer { ! { ! { {% for dns_slave, dns_slave_vars in dns_slaves.items() %}{{ dns_slave_vars['private_ipv4_address'] }}; {% endfor -%} }; any; }; { key "{{ dns_slaves.keys() | join('."; key "') }}."; }; };
    file "{{ item }}.zone";
    dnssec-policy default;
    update-policy {
{% for dns_workstation in dns_workstations %}
        grant "_workstation.{{ dns_workstation }}." subdomain {{ item }}. ANY;
{% endfor %}
{% for acme_host, acme_host_vars in acme_hosts.items() %}
{% for domain, subdomains in acme_host_vars['domains'].items() %}
{% if domain == item %}
{% for subdomain in subdomains %}
        grant "_acme-challenge.{{ acme_host }}." name _acme-challenge{% if subdomain != "." %}.{{ subdomain }}{% endif %}.{{ domain }}. TXT;
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
    };
};
