[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PostUp = wg set %i private-key /etc/wireguard/{{ ansible_fqdn }}.private

{% for wireguard_client, wireguard_client_vars in wireguard_clients.items() %}
[Peer]
# {{ wireguard_client }}
PublicKey = {{ wireguard_client_vars['pubkey'] }}
AllowedIPs = {{ wireguard_client_vars['allowed_ips'] | join(', ') }}
{% endfor %}