zone "{{ item }}" IN {
    type slave;
    notify no;
    allow-notify { {{ dns_master['ipv6_address'] }}; };
    masters { {{ dns_master['private_ipv4_address'] }}; };
    file "{{ item }}.zone";
};
