zone "{{ item }}" IN {
    type slave;
    notify no;
    allow-notify { {{ lookup('community.general.dig', dns_master, 'qtype=AAAA' ) }}; };
    masters { {{ lookup('community.general.dig', 'internal.' + dns_master, 'qtype=A' ) }}; };
    file "{{ item }}.zone";
};