$ORIGIN {{ item }}.
$TTL 3H
@         IN SOA   {{ dns_master }}. hostmaster (
                         2022051204; serial
                         1H; refresh
                         1H; retry
                         1W; expire
                         3H ) ; TTL
{% for dns_slave in dns_slaves %}
@         IN NS    {{ dns_slave }}.
acme      IN NS    {{ dns_slave }}.
{% endfor %}
acme      IN DS    42973 13 2 E61EB82BAF88E468033822C19F2FAC729F5DFFEACA168D3B26583FA8E99B95AC
