$ORIGIN {{ item }}.
$TTL 3H
@         IN SOA   {{ dns_master }}. hostmaster (
                         2022051204; serial
                         1H; refresh
                         1H; retry
                         1W; expire
                         3H ) ; TTL
{% for dns_slave in dns_slaves %}
@         IN NS    {{ dns_slave }}.
{% endfor %}
